In [13]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [33]:
url='https://www.amazon.in/Samsung-Storage-MediaTek-Octa-core-Processor/dp/B0BMGC6LHP/ref=sr_1_1_sspa?keywords=Latest%2BMobile%2BPhones&qid=1683821905&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1'

In [35]:
response=requests.get(url)
response

In [36]:
soup=BeautifulSoup(response.content,"html.parser")

In [37]:
title=[]
ti=soup.find('span',id="productTitle")
title.append(ti.get_text().strip())

In [38]:
price=[]
t=soup.find("span",class_="a-price-whole")
price.append(t.text)

In [39]:
desc=[]
d=soup.find('ul',class_="a-unordered-list a-vertical a-spacing-mini")
desc.append(d.get_text())

In [40]:
data={'Title':title,'Price/Amount':price,'Description':desc}

In [41]:
df=pd.DataFrame(data)
df

,Title,Price/Amount,Description
0,"Samsung Galaxy M04 Light Green, 4GB RAM, 128GB...","7,999.",Powerful MediaTek Helio P35 Octa Core 2.3GHz...

In [42]:
df.to_csv("amazon_mob.csv",index=False)

In [43]:
amz_mob=pd.read_csv("amazon_mob.csv")
amz_mob

,Title,Price/Amount,Description
0,"Samsung Galaxy M04 Light Green, 4GB RAM, 128GB...","7,999.",Powerful MediaTek Helio P35 Octa Core 2.3GHz...